<!DOCTYPE html>
<html ng-app="esri-map-example">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Add/Remove Layers Example</title>

        <!-- load Esri CSS -->
        <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.11/esri/css/esri.css">
    </head>
    <body ng-controller="MapController">
        <h2>Add/Remove Layers Example</h2>
        <!-- add map to page and bind to scope map parameters -->
        <esri-map id="map" center="map.center" zoom="map.zoom" basemap="topo">
            <esri-feature-layer ng-repeat="url in selectedLayers" url="{{url}}"></esri-feature-layer>
        </esri-map>
        <p>Lat: {{ map.center.lat | number:3 }}, Lng: {{ map.center.lng | number:3 }}, Zoom: {{map.zoom}}</p>

        <div>
            <p>Layers</p>
            <div ng-repeat="layer in layers">
                <input type="checkbox" ng-model="selected" ng-change="toggleLayer(layer.url)" /> {{layer.name}} <br />
            </div>
        </div>

        <!-- load Esri JavaScript API -->
        <script type="text/javascript" src="http://js.arcgis.com/3.11compact"></script>
        <!-- load Angular -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
        <!-- load angular-esri-map directives -->
        <script src="lib/angular-esri-map.js"></script>
        <!-- run example app controller -->
        <script type="text/javascript">
            'use strict';
            angular.module('esri-map-example', ['esri.map'])
                .controller('MapController', function ($scope) {
                    $scope.map = {
                        center: {
                            lng: -122.676207,
                            lat: 45.523452
                        },
                        zoom: 12
                    };

                    $scope.layers = [
                        {
                            name: 'Parks',
                            url: 'http://services.arcgis.com/rOo16HdIMeOBI4Mb/arcgis/rest/services/Portland_Parks/FeatureServer/0'
                        },
                        {
                            name: 'Heritage Trees',
                            url: 'http://services.arcgis.com/rOo16HdIMeOBI4Mb/arcgis/rest/services/Heritage_Trees_Portland/FeatureServer/0'
                        }
                    ];

                    $scope.selectedLayers = [];

                    $scope.toggleLayer = function (url) {
                        console.log('Toggling ' + url);
                        var index = $scope.selectedLayers.indexOf(url);
                        if (index >= 0) {
                            $scope.selectedLayers.splice(index, 1);
                        } else {
                            $scope.selectedLayers.push(url);
                        }
                        console.log('Selected layers: ' + $scope.selectedLayers);
                    };
                });
        </script>
    </body>
</html>
