<!DOCTYPE html>
<html ng-app="esri-map-example">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <title>Deferred Map</title>

        <!-- load Esri CSS -->
        <link rel="stylesheet" type="text/css" href="//js.arcgis.com/4.0/esri/css/main.css">
        <style type="text/css">
            .esri-view {
                height: 400px;
            }
        </style>
    </head>
    <body>
        <h2>Deferred Map</h2>
        <div ng-controller="ExampleController as exampleCtrl">
            <p>Click the button to lazy load the Esri JSAPI. This can be used when you want to defer its inclusion until necessary, which can be particularly helpful when developing Single Page Applications (SPAs). You can see the resources being pulled from dev tools, once you click the button.</p>
            <button ng-click="exampleCtrl.lazyload()" ng-disabled="exampleCtrl.loaded">Load Esri JSAPI and MapView</button>
            <!-- add the map view to page only once the Esri API has loaded -->
            <div ng-if="exampleCtrl.loaded">
                <esri-map-view map="exampleCtrl.map" on-create="exampleCtrl.onViewCreated"
                    view-options="{
                        zoom: 4,
                        center: [15, 65]
                    }">
                </esri-map-view>
            </div>
            <p>Based on <a href="https://developers.arcgis.com/javascript/latest/sample-code/get-started-mapview/index.html">this sample</a>.</p>
        </div>
        <!-- load Angular -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
        <!-- load angular-esri-map directives -->
        <script src="lib/angular-esri-map.js"></script>
        <!-- run example app controller -->
        <script type="text/javascript">
            angular.module('esri-map-example', ['esri.map'])
                .controller('ExampleController', function(esriLoader) {
                    var self = this;

                    // Default loaded to be false
                    self.loaded = false;

                    // This function will be called when you click the button
                    this.lazyload = function() {
                        // Make a call to load Esri JSAPI resources at version 4.0.
                        // A promise is provided for when the resources have finished loading.
                        esriLoader.bootstrap({
                            url: '//js.arcgis.com/4.0'
                        }).then(function() {
                            // Set loaded to be true
                            self.loaded = true;
                            self.createMap();
                        }, function(err) {
                            self.loaded = err;
                        });
                    };

                    this.createMap = function() {
                        esriLoader.require('esri/Map', function(Map) {
                            // Create the map
                            self.map = new Map({
                                basemap: 'streets'
                            });
                        });
                    };
                });
        </script>
    </body>
</html>
