<!DOCTYPE html>
<html ng-app="esri-map-example">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Set Map Center and Zoom</title>

        <!-- load Esri CSS -->
        <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.13/esri/css/esri.css">
    </head>
    <body ng-controller="MapController">

        <!-- add map to page and bind to scope map parameters -->
        <h2>Set Map Center and Zoom</h2>
        <esri-map id="map" center="map.center" zoom="map.zoom" basemap="{{map.basemap}}">
        </esri-map>
        <p>
            Lat: <input type="number" step="any" ng-model="map.center.lat" />
            Lng: <input type="number" step="any" ng-model="map.center.lng" />,
            Zoom:
            <select ng-model="map.zoom">
                <option ng-repeat="level in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]">{{level}}</option>
            </select>
            <button ng-click="zoomToCity(cities.SanFrancisco)">San Francisco</button>
            <button ng-click="zoomToCity(cities.NewYork)">New York</button>
        </p>

        <!-- load Esri JavaScript API -->
        <script type="text/javascript" src="http://js.arcgis.com/3.13compact"></script>
        <!-- load Angular -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <!-- load angular-esri-map directives -->
        <script src="lib/angular-esri-map.js"></script>
        <!-- run example app controller -->
        <script type="text/javascript">
            angular.module('esri-map-example', ['esri.map'])
                .controller('MapController', function ($scope) {
                    $scope.map = {
                        center: {
                            lng: -122.45,
                            lat: 37.75
                        },
                        zoom: 12,
                        basemap: 'topo'
                    };
                    $scope.cities = {
                        SanFrancisco: {
                            lng: -122.45,
                            lat: 37.75,
                            zoom: 10
                        },
                        NewYork: {
                            lng: -74.0059,
                            lat: 40.7127,
                            zoom: 12
                        }
                    };
                    $scope.zoomToCity = function(city){
                        $scope.map.center.lat = city.lat;
                        $scope.map.center.lng = city.lng;
                        $scope.map.zoom = city.zoom;
                    };
                });
        </script>
    </body>
</html>
