<!DOCTYPE html>
<html ng-app="esri-webmap-example">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Web Map</title>

        <!-- dijit theme only needed for chart tooltip in popup in this web map -->
        <link rel="stylesheet" href="http://js.arcgis.com/3.14/dijit/themes/claro/claro.css">
        <!-- load Esri CSS -->
        <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.14/esri/css/esri.css">
        <style>
        [ng-click]
        {
            cursor: pointer;
        }
        </style>
    </head>
    <body ng-controller="MapController" class="claro">
        <h2>Web Map: {{itemInfo.item.title}}
            <small>
            <a ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed">
                <span ng-show="isCollapsed">+info</span>
                <span ng-hide="isCollapsed">hide</span>
            </a>
            </small>
        </h2>
        <div ng-hide="isCollapsed" ng-bind-html="itemInfo.item.snippet"></div>
        <div style="width: 800px">
            <!-- add map to page and bind to scope map parameters -->
            <div style="width: 600px; float:left;">
                <esri-map id="map" webmap-id="4778fee6371d4e83a22786029f30c7e1" center="map.center" zoom="map.zoom" item-info="itemInfo" load="mapLoaded">
                    <div esri-legend target-id="legend"></div>
                </esri-map>
            </div>
            <div style="width: 200px; float: right; max-height: 400px; overflow: auto;">
                <div id="legend"></div>
            </div>
        </div>
        <p style="clear: both;">Lat: {{ map.center.lat | number:3 }}, Lng: {{ map.center.lng | number:3 }}, Zoom: {{map.zoom}}</p>
        <div>
            <button ng-repeat="bookmark in itemInfo.itemData.bookmarks" ng-click="goToBookmark(bookmark)">{{bookmark.name}}</button>
        </div>
        <p>Based on <a href="https://developers.arcgis.com/javascript/jssamples/ags_createwebmapid.html">this sample</a>.</p>
        <!-- load Esri JavaScript API -->
        <script type="text/javascript" src="http://js.arcgis.com/3.14compact"></script>
        <!-- load Angular -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.js"></script>
        <!-- load angular-esri-map directives -->
        <script src="lib/angular-esri-map.js"></script>
        <!-- run example app controller -->
        <script type="text/javascript">
            'use strict';
            angular.module('esri-webmap-example', ['esri.map', 'ngSanitize'])
                .controller('MapController', function ($scope, esriLoader) {
                    // we're about to enter callback purgatory,
                    // so let's bring along a reference to the controller
                    var self = this;
                    // this example requires the extent module
                    // so let's go ahead and load that now
                    esriLoader.require('esri/geometry/Extent').then(function(Extent) {
                        $scope.map = {
                            center: {
                                lng: -122.45,
                                lat:  37.75
                            },
                            zoom: 13
                        };
                        // get a reference to the map object once it's loaded
                        $scope.mapLoaded = function(map) {
                            self.mapObj = map;
                        };
                        // click handler for bookmark buttons
                        $scope.goToBookmark = function(bookmark)
                        {
                            if (!self.mapObj) {
                                return;
                            }
                            var extent = new Extent(bookmark.extent);
                            self.mapObj.setExtent(extent);
                        };
                    });
                });
        </script>
    </body>
</html>
