language: node_js
node_js:
  - "4"
  - "6"
  - "8"
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
branches:
  except:
    - gh-release
    - gh-pages
