.jumbotron {
  background: #091926 url('../images/jumbotron-background.jpg') no-repeat right;
  color: #fff;
}

.primary-jumbotron-title {
  position: absolute;
}

.show-hide-jumbotron-title {
  transition: opacity linear 0.75s;
}

.show-hide-jumbotron-title.ng-hide {
  opacity: 0;
  display: block !important;
}

/* custom page footer */
.footer {
  position: relative;
  margin-top: 19px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: inherit;
}

.break-word {
  overflow-wrap: break-word;
}

/* examples title and summary spacing */
.marketing h4 + p {
  margin-bottom: 28px;
}

/* Esri JSAPI */
.esri-view {
  height: 400px;
}

/* highlightjs */
.hljs.javascript,
.hljs.xml {
  display: inline-block;
  overflow-x: auto;
  white-space: pre;
  font-size: 13px;
  background-color: inherit; /* only use if syntax highlighting background is light gray or near white */
}
.tab-container pre {
  margin-bottom: 0;
  border-top: 0;
}
.snippet-file-name {
  margin-bottom: 12px;
}

/* tables */
.table {
  font-size: 0.95em;
}
.table td {
  white-space: nowrap;
}

/* warning for non-webgl browsers */
.web-gl-warning {
  color: #b52e31;
  font-weight: bold;
}

/* dismissable alert to warn about docs version */
.version-alert {
  position: fixed;
  bottom: -24px;
  width: 80%;
  left: calc(50% - 40%);
  text-align: center;
  font-size: small;
  z-index: 100;
}

/* navbar size and position overrides of calcite-bootstrap */
.navbar.navbar-inverse.navbar-static-top {
  margin-bottom: 20px;
}
.navbar-header {
  float: left;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 200;
}
.navbar-right {
  float: right;
}
.navbar-nav>li {
  float: left;
}
@media (max-width: 768px) {
  /* bootstrap's extra small devices (width less than 768px) */
  /* reduced default padding to fit nav links along 1 row */
  .navbar-nav>li>a {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* angular color overrides of calcite-bootstrap (red highlight, white background, black font/header) */
body {
  background-color: #ffffff;
  color: #000000;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #000000;
}
a {
  color: #b52e31;
}
a:focus,
a:hover {
  color: #b52e31;
}
.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover {
  background-image: linear-gradient(to top,transparent 92%,#b52e31 93%,#b52e31 100%);
}
.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: #f8f8f8;
}
.nav-tabs>li>a:hover {
  border-top: 2px solid #b52e31;
}
.badge {
  background-color: #b52e31;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #b52e31;
  border-color: #b52e31;
}
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
  /*color: #000000;*/
  background-color: #f8f8f8;
}

button.btn-default, button.btn-default[disabled] {
  color: #b52e31;
  background-color: #fff;
  border-color: #b52e31;
}
button.btn-default:focus, button.btn-default[disabled]:focus,
button.btn-default:hover, button.btn-default[disabled]:hover,
button.btn-default:active, button.btn-default[disabled]:active {
  color: #fff!important;
  background-color: #b52e31!important;
  border-color: #b52e31 !important;
}
